---
import Layout from '../layouts/Layout.astro';
import HeaderSection from '../components/HeaderSection.astro';
import UpButton from '../components/UpButton.astro';
import PaintingSectionList from '../components/PaintingSectionList.astro';
---

<Layout title="Gaby Guillén - Arte pop">
	<main class="section-container">
		<HeaderSection />
		<PaintingSectionList />
		<UpButton />
	</main>
</Layout>
