---
import { Image } from 'astro:assets';
import firstBgImage from '../assets/images/bg-image-1.webp';
import secondBgImage from '../assets/images/bg-image-2.webp';
import thirdBgImage from '../assets/images/bg-image-3.webp';
---

<div class="w-screen h-screen fixed grid lg:grid-cols-3 place-items-center -z-10">
    <Image
        src={firstBgImage}
        width={350}
        height={350}
        alt="painting 1"
        class="hidden lg:block opacity-30 shadow-white shadow-md"
        format="webp"
        fetchpriority="high"
    />
    <Image
        src={secondBgImage}
        width={350}
        height={350}
        alt="painting 2"
        class="opacity-30 lg:shadow-white lg:shadow-md"
        format="webp"
        fetchpriority="high"
    />
    <Image
        src={thirdBgImage}
        width={350}
        height={350}
        alt="painting 3"
        class="hidden lg:block w-[350px] opacity-30 shadow-white shadow-md"
        format="webp"
        fetchpriority="high"
    />
</div>

