---
---

<script>
    const upButton = document.getElementById('up-button');
    const headerSection = document.getElementById('header-section');
    const firstSection = document.querySelector('.first-section');

    const callback = (entries: IntersectionObserverEntry[]) => {
        entries.forEach(entry => {
            if ((entry.target === headerSection || entry.target === firstSection) && entry.isIntersecting && upButton != null) {
                upButton.style.display = 'none';
            } else if (upButton != null) {
                upButton.style.display = 'block';
            }
        });
    };

    const options = {
        threshold: 0
    };

    const observer = new IntersectionObserver(callback, options);

    if (headerSection != null) observer.observe(headerSection);
    if (firstSection != null)observer.observe(firstSection);

    upButton?.addEventListener('click', () => {
        headerSection?.scrollIntoView({ behavior: 'smooth' });
    });
</script>

<button id="up-button" class="hidden absolute top-5 md:top-10 right-[50%] translate-x-[50%] px-4 py-2 md:px-5 md:py-3 bg-primary-600 hover:bg-primary-700 rounded-md opacity-40 hover:opacity-100">
    <svg class="w-4 h-4 md:w-6 md:h-6 text-white" aria-hidden="true" fill="none" viewBox="0 0 14 8">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7 7.674 1.3a.91.91 0 0 0-1.348 0L1 7"/>
    </svg>
</button>
    