--- 
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Cuadros del artista Gaby Guillén">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preload" as='"font' type="font/woff2" href="/assets/fonts/Poppins-Regular.woff2" crossorigin />
		<link rel="preload" as='"font' type="font/woff2" href="/assets/fonts/Poppins-Bold.woff2" crossorigin />
		<link rel="preload" as='"font' type="font/woff2" href="/assets/fonts/Poppins-ExtraBold.woff2" crossorigin />
		<link rel="preload" as='"font' type="font/woff2" href="/assets/fonts/Poppins-Black.woff2" crossorigin />
		<link rel="preload" href="/_astro/404.3fed2101.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<meta name="generator" content={Astro.generator} />
		<meta name="og:title" content={title} />
		<meta name="og:description" content="Cuadros del artista Gaby Guillén" />
		<meta name="og:image" content="../assets/images/og-image.avif" />
		<meta name="og:type" content="website" />
		<meta name="og:url" content="https://gabyguillen.vercel.app" />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: Poppins;
		src: url('/assets/fonts/Poppins-Regular.woff2') format('woff2');
		font-weight: 400;
		font-display: swap;
	}

	@font-face {
		font-family: Poppins;
		src: url('/assets/fonts/Poppins-Bold.woff2') format('woff2');
		font-weight: 700;
		font-display: swap;
	}

	@font-face {
		font-family: Poppins;
		src: url('/assets/fonts/Poppins-ExtraBold.woff2') format('woff2');
		font-weight: 800;
		font-display: swap;
	}

	@font-face {
		font-family: Poppins;
		src: url('/assets/fonts/Poppins-Black.woff2') format('woff2');
		font-weight: 900;
		font-display: swap;
	}

	body {
		font-family: Poppins, sans-serif;
		background: #171717;
		color: white;
		padding: 0;
		margin: 0;
	}

	html {
		scroll-snap-type: y mandatory;
		scrollbar-gutter: 0;
		overflow-y: scroll;
		-ms-overflow-style: none;
		scrollbar-width: none; 
	}

	.section-container {
		height: 100vh;
	}

	.section-container::-webkit-scrollbar {
		display: none;
	}

	.content-section {
		display: grid;
		place-items: center;
		align-content: center;
		height: 100dvh;
		scroll-snap-align: start;
	}

	#header-section {
		align-content: center;
		height: 100dvh;
		scroll-snap-align: center;
	}

	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
